.h1.ms-3.mt-3
  = "My To-Do Lists"

.row.overflow-auto.ms-3.mt-4
  - @lists.each do |list|
    .col-3.border
      %h4= list.title
      .mt-3 
      .ul 
        - list.tasks.each do |task|
          %li
            = link_to task.title, list_task_path(list, task)
      .row.mt-5.mb-3.justify-content-between
        .col-auto
          = link_to "Edit list", edit_list_path(list), class: "btn btn-sm btn-outline-success"
        .col-auto
          = button_to "Delete", list_path(list), method: :delete, class: "btn btn-sm btn-outline-danger"
  .col-3 
    = button_to "Add List", new_list_path, method: :get, class: "btn btn-primary"